In [1]:
import pandas as pd
import numpy as np

In [2]:
jobs=pd.read_csv("jobs.csv")

In [3]:
jobs.head()

   Unnamed: 0                 emp_title
0           0                       NaN
1           1                     Ryder
2           2                       NaN
3           3       AIR RESOURCES BOARD
4           4  University Medical Group

In [5]:
jobs.fillna("other",inplace=True)

In [6]:
jobs.columns

Index(['Unnamed: 0', 'emp_title'], dtype='object')

In [7]:
jobs.drop(columns=['Unnamed: 0'],inplace=True)

In [8]:
jobs.emp_title=jobs.emp_title.str.lower()

In [9]:
jobs.head()

                  emp_title
0                     other
1                     ryder
2                     other
3       air resources board
4  university medical group

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [32]:
tv=TfidfVectorizer()

In [33]:
jobs_list=list(jobs.emp_title)

In [34]:
x_tv=tv.fit_transform(jobs_list)

In [35]:
type(x_tv)

scipy.sparse.csr.csr_matrix

In [36]:
from sklearn.cluster import KMeans

In [37]:
km=KMeans(n_clusters=10)

In [38]:
km.fit(x_tv)

KMeans(n_clusters=10)

In [39]:
km.labels_

array([6, 0, 6, ..., 0, 0, 0])

In [40]:
jobs["labels"]=km.labels_

In [41]:
jobs.head()

                  emp_title  labels
0                     other       6
1                     ryder       0
2                     other       6
3       air resources board       0
4  university medical group       0

In [42]:
jobs.labels.value_counts()

0    620801
7     85799
6     51464
2     26904
8     23832
4     22681
3     18728
1     18170
9     14393
5      4607
Name: labels, dtype: int64