In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('lc_loan.csv/lc_loan.csv')

C:\Users\ronsp\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (19,55) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [6]:
df.id.unique()

array([ 1077501,  1077430,  1077175, ..., 36271333, 36490806, 36271262],
      dtype=int64)

In [7]:
len(df.id.unique())

887379

In [8]:
len(df.member_id.unique())

887379

In [9]:
df.shape

(887379, 74)

In [14]:
#We look to see which columns have missing values
missing = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
missing.columns=['count','%']
missing[missing["count"]>0].sort_values(by='count')

                              count          %
annual_inc                        4   0.000451
acc_now_delinq                   29   0.003268
delinq_2yrs                      29   0.003268
earliest_cr_line                 29   0.003268
inq_last_6mths                   29   0.003268
open_acc                         29   0.003268
pub_rec                          29   0.003268
total_acc                        29   0.003268
last_credit_pull_d               53   0.005973
collections_12_mths_ex_med      145   0.016340
title                           152   0.017129
revol_util                      502   0.056571
last_pymnt_d                  17659   1.990018
emp_length                    44825   5.051393
emp_title                     51462   5.799326
total_rev_hi_lim              70276   7.919502
tot_coll_amt                  70276   7.919502
tot_cur_bal                   70276   7.919502
next_pymnt_d                 252971  28.507661
mths_since_last_delinq       454312  51.197065
mths_since_last_major_derog  665676  75.015974
mths_since_last_record       750326  84.555303
desc                         761351  85.797726
inq_fi                       866007  97.591559
all_util                     866007  97.591559
max_bal_bc                   866007  97.591559
open_rv_24m                  866007  97.591559
open_rv_12m                  866007  97.591559
total_bal_il                 866007  97.591559
inq_last_12m                 866007  97.591559
open_il_24m                  866007  97.591559
open_il_12m                  866007  97.591559
open_il_6m                   866007  97.591559
open_acc_6m                  866007  97.591559
total_cu_tl                  866007  97.591559
mths_since_rcnt_il           866569  97.654892
il_util                      868762  97.902024
verification_status_joint    886868  99.942415
annual_inc_joint             886868  99.942415
dti_joint                    886870  99.942640

In [16]:
df[missing["count"]>0]

C:\Users\ronsp\AppData\Local\Temp/ipykernel_4748/3609976166.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[missing["count"]>0]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [17]:
df.shape

(887379, 74)

In [18]:
missing.shape

(74, 2)

In [20]:
df.T[missing['count']>0].T

,emp_title,emp_length,annual_inc,desc,title,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,NaN,10+ years,24000.0,Borrower added on 12/22/11 > I need to upgra...,Computer,0.0,Jan-1985,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ryder,< 1 year,30000.0,Borrower added on 12/22/11 > I plan to use t...,bike,0.0,Apr-1999,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,10+ years,12252.0,NaN,real estate business,0.0,Nov-2001,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AIR RESOURCES BOARD,10+ years,49200.0,Borrower added on 12/21/11 > to pay for prop...,personel,0.0,Feb-1996,1.0,35.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,University Medical Group,1 year,80000.0,Borrower added on 12/21/11 > I plan on combi...,Personal,0.0,Jan-1996,0.0,38.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887374,Office Assistant,8 years,31000.0,NaN,Debt consolidation,0.0,Sep-2004,0.0,NaN,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,17100.0,NaN,NaN,NaN
887375,Director of Maintenance,10+ years,79000.0,NaN,Home improvement,0.0,Mar-1974,1.0,26.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN
887376,Radiologist Technologist,5 years,35000.0,NaN,Debt consolidation,0.0,Sep-2003,0.0,NaN,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN
887377,Painter,1 year,64400.0,NaN,Debt consolidation,1.0,Oct-2003,2.0,22.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27000.0,NaN,NaN,NaN
887378,Manager Hotel Operations Oasis,10+ years,100000.0,NaN,Credit card refinancing,0.0,Dec-2001,1.0,NaN,110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN

In [21]:
df.open_rv_12m.unique()

array([nan,  0.,  1.,  3.,  2.,  4., 12.,  6.,  5.,  7.,  9., 10., 11.,
        8., 14., 16., 15., 22., 19.])

In [22]:
df.open_rv_12m.value_counts()

0.0     7073
1.0     6415
2.0     3955
3.0     2125
4.0      962
5.0      420
6.0      204
7.0      103
8.0       50
10.0      24
9.0       21
12.0       7
11.0       6
14.0       2
15.0       2
16.0       1
22.0       1
19.0       1
Name: open_rv_12m, dtype: int64

In [25]:
for i in missing.index:
    print(i,df.loc[i,:].value_counts())

KeyError: 'id'

In [26]:
for i in missing.index:
    print(i)

id
member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_il_6m
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m

In [27]:
missing.index

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

In [28]:
for i in missing.index:
    print(i,df[i].value_counts())

id 1077501     1
59561165    1
61448183    1
61408303    1
60964818    1
           ..
28983843    1
28933642    1
28913676    1
28933755    1
36271262    1
Name: id, Length: 887379, dtype: int64
member_id 1296599     1
63494885    1
65566896    1
65527018    1
65006696    1
           ..
31507047    1
31456838    1
31436866    1
31456960    1
38982659    1
Name: member_id, Length: 887379, dtype: int64
loan_amnt 10000.0    61837
12000.0    50183
15000.0    47210
20000.0    46932
35000.0    36368
           ...
550.0          1
925.0          1
750.0          1
725.0          1
950.0          1
Name: loan_amnt, Length: 1372, dtype: int64
funded_amnt 10000.0    61744
12000.0    50090
15000.0    47094
20000.0    46744
35000.0    36230
           ...
850.0          1
925.0          1
750.0          1
950.0          1
550.0          1
Name: funded_amnt, Length: 1372, dtype: int64
funded_amnt_inv 10000.000000    56111
12000.000000    44899
15000.000000    41566
20000.000000    40188
35000.000000    29563
                ...
5643.771602         1
14330.845805        1
6272.511740         1
3850.917826         1
14951.098931        1
Name: funded_amnt_inv, Length: 9856, dtype: int64
term  36 months    621125
 60 months    266254
Name: term, dtype: int64
int_rate 10.99    34624
9.17     25720
15.61    25201
9.99     21553
7.89     20311
         ...
18.72        1
24.59        1
22.64        1
14.28        1
17.44        1
Name: int_rate, Length: 542, dtype: int64
installment 327.34     2610
318.79     2142
491.01     1785
392.81     1775
312.86     1619
           ...
974.08        1
1046.36       1
579.98        1
584.83        1
237.86        1
Name: installment, Length: 68711, dtype: int64
grade B    254535
C    245860
A    148202
D    139542
E     70705
F     23046
G      5489
Name: grade, dtype: int64
sub_grade B3    56323
B4    55626
C1    53387
C2    52236
C3    50161
C4    48857
B5    48833
B2    48781
B1    44972
A5    44816
C5    41219
D1    36238
A4    34531
D2    29803
D3    26554
D4    25558
A3    23457
A1    22913
A2    22485
D5    21389
E1    18268
E2    17004
E3    14134
E4    11724
E5     9575
F1     7218
F2     5392
F3     4433
F4     3409
F5     2594
G1     1871
G2     1398
G3      981
G4      663
G5      576
Name: sub_grade, dtype: int64
emp_title Teacher                                     13469
Manager                                     11240
Registered Nurse                             5525
Owner                                        5376
RN                                           5355
                                            ...
Thomas J. Paul, Inc.                            1
Piggie Toes Preschool                           1
greystone park psychiatric hospital             1
Las Vegas Motropolitan Police Department        1
Manager Hotel Operations Oasis                  1
Name: emp_title, Length: 299271, dtype: int64
emp_length 10+ years    291569
2 years       78870
< 1 year      70605
3 years       70026
1 year        57095
5 years       55704
4 years       52529
7 years       44594
8 years       43955
6 years       42950
9 years       34657
Name: emp_length, dtype: int64
home_ownership MORTGAGE    443557
RENT        356117
OWN          87470
OTHER          182
NONE            50
ANY              3
Name: home_ownership, dtype: int64
annual_inc 60000.0     34281
50000.0     30575
65000.0     25498
70000.0     24121
40000.0     23943
            ...
128922.0        1
63790.0         1
484000.0        1
44456.0         1
63078.0         1
Name: annual_inc, Length: 49384, dtype: int64
verification_status Source Verified    329558
Verified           291071
Not Verified       266750
Name: verification_status, dtype: int64
issue_d Oct-2015    48631
Jul-2015    45962
Dec-2015    44342
Oct-2014    38782
Nov-2015    37530
            ...
Aug-2007       74
Jul-2007       63
Sep-2008       57
Sep-2007       53
Jun-2007       24
Name: issue_d, Length: 103, dtype: int64
loan_status Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64
pymnt_plan n    887369
y        10
Name: pymnt_plan, dtype: int64
url https://www.lendingclub.com/browse/loanDetail.action?loan_id=1077501     1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=59561165    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=61448183    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=61408303    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=60964818    1
                                                                        ..
https://www.lendingclub.com/browse/loanDetail.action?loan_id=28983843    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=28933642    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=28913676    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=28933755    1
https://www.lendingclub.com/browse/loanDetail.action?loan_id=36271262    1
Name: url, Length: 887379, dtype: int64
desc                                                                                                                                                                                                                                                                                                                                                                        246
Debt Consolidation                                                                                                                                                                                                                                                                                                                                                      13
  Borrower added on 03/17/14 > Debt consolidation<br>                                                                                                                                                                                                                                                                                                                   11
  Borrower added on 03/10/14 > Debt consolidation<br>                                                                                                                                                                                                                                                                                                                   10
  Borrower added on 02/19/14 > Debt consolidation<br>                                                                                                                                                                                                                                                                                                                    9
                                                                                                                                                                                                                                                                                                                                                                      ...
  Borrower added on 09/24/13 > I have a high deductible Health Insurance Plan and would like to pay-off our existing medical debt as well as pay-off two auto loans and some additional unsecured credit. I prefer to have a planed repayment plan with the ability to pay down on the principal balance as cash flow permits.<br>                                       1
  Borrower added on 09/24/13 > My son just graduated and is needing a place to live in Washington State I am requesting the money to help him till he gets his first paycheck.<br>                                                                                                                                                                                       1
  Borrower added on 09/24/13 > About 10 years ago my credit was a mess.  I borrowed from everyone and had little thought about how I would pay it back as long as I made the minimum payment.  I have a more stable life, job, and general situation now, but still have these reminders from my past.   It is time to retire them.<br>                                  1
  Borrower added on 09/24/13 > This loan will be used to consolidate my credit cards in an effort to pay them off sooner than later.<br>                                                                                                                                                                                                                                 1
I am in my senior year of college in obtaining a bachelors degree in criminal justice.  I do not qualify for financial aid and have used all stafford loans available.  My tuition is approx. $1200 a month and I have 10 courses left which adds up to over $10,000.  I need some assistance to cover my tuition until my graduation date which is August of 2009.      1
Name: desc, Length: 124469, dtype: int64
purpose debt_consolidation    524215
credit_card           206182
home_improvement       51829
other                  42894
major_purchase         17277
small_business         10377
car                     8863
medical                 8540
moving                  5414
vacation                4736
house                   3707
wedding                 2347
renewable_energy         575
educational              423
Name: purpose, dtype: int64
title Debt consolidation                     414001
Credit card refinancing                164331
Home improvement                        40112
Other                                   31892
Debt Consolidation                      15760
                                        ...
New Heater                                  1
Looking to get out of debt                  1
Debt Conso/Pay off initial LC loan          1
Emergency Home Repair                       1
Credit Card/Auto Repair                     1
Name: title, Length: 63144, dtype: int64
zip_code 945xx    9770
750xx    9417
112xx    9272
606xx    8641
300xx    8126
         ...
569xx       1
348xx       1
819xx       1
375xx       1
507xx       1
Name: zip_code, Length: 935, dtype: int64
addr_state CA    129517
NY     74086
TX     71138
FL     60935
IL     35476
NJ     33256
PA     31393
OH     29631
GA     29085
VA     26255
NC     24720
MI     22985
MD     21031
MA     20593
AZ     20412
WA     19434
CO     18807
MN     15957
MO     14207
IN     13789
CT     13531
TN     12887
NV     12443
WI     11574
AL     11200
OR     10893
SC     10639
LA     10587
KY      8550
OK      8085
KS      7926
AR      6640
UT      6264
NM      4939
HI      4570
WV      4386
NH      4294
RI      3893
MS      3819
MT      2558
DE      2511
DC      2432
AK      2205
WY      2028
SD      1815
VT      1797
NE      1176
ME       525
ND       479
IA        14
ID        12
Name: addr_state, dtype: int64
dti 19.20    684
14.40    674
18.00    661
13.20    638
16.80    632
        ...
40.56      1
45.78      1
45.58      1
46.67      1
59.19      1
Name: dti, Length: 4086, dtype: int64
delinq_2yrs 0.0     716961
1.0     113224
2.0      33551
3.0      11977
4.0       5327
5.0       2711
6.0       1471
7.0        784
8.0        461
9.0        284
10.0       192
11.0       121
12.0        89
13.0        64
14.0        45
15.0        28
16.0        17
18.0        11
17.0        10
19.0         8
22.0         3
21.0         2
26.0         2
20.0         2
29.0         1
24.0         1
30.0         1
27.0         1
39.0         1
Name: delinq_2yrs, dtype: int64
earliest_cr_line Aug-2001    6659
Aug-2000    6529
Oct-2000    6322
Oct-2001    6154
Aug-2002    6086
            ...
Jun-1949       1
Oct-1950       1
Jan-1948       1
Jul-1961       1
Apr-1958       1
Name: earliest_cr_line, Length: 697, dtype: int64
inq_last_6mths 0.0     497905
1.0     241494
2.0      94117
3.0      37398
4.0      10758
5.0       3985
6.0       1231
7.0        195
8.0        122
9.0         50
10.0        24
11.0        15
12.0        15
15.0         9
13.0         6
14.0         6
18.0         4
16.0         3
17.0         2
24.0         2
19.0         2
32.0         1
33.0         1
31.0         1
28.0         1
25.0         1
27.0         1
20.0         1
Name: inq_last_6mths, dtype: int64
mths_since_last_delinq 9.0      8591
6.0      8470
12.0     8368
8.0      8335
13.0     8318
         ...
180.0       1
136.0       1
124.0       1
143.0       1
137.0       1
Name: mths_since_last_delinq, Length: 155, dtype: int64
mths_since_last_record 61.0     1964
62.0     1919
71.0     1917
67.0     1917
69.0     1914
         ...
1.0        71
2.0        63
120.0       9
121.0       2
129.0       1
Name: mths_since_last_record, Length: 123, dtype: int64
open_acc 9.0     80285
10.0    78321
8.0     76578
11.0    72265
7.0     67896
        ...
57.0        1
67.0        1
65.0        1
75.0        1
90.0        1
Name: open_acc, Length: 77, dtype: int64
pub_rec 0.0     751572
1.0     113266
2.0      14854
3.0       4487
4.0       1564
5.0        757
6.0        385
7.0        170
8.0        113
9.0         50
10.0        42
11.0        23
12.0        16
13.0        12
15.0         6
18.0         5
16.0         5
21.0         4
17.0         3
19.0         2
14.0         2
49.0         2
40.0         1
63.0         1
54.0         1
34.0         1
23.0         1
26.0         1
28.0         1
20.0         1
86.0         1
22.0         1
Name: pub_rec, dtype: int64
revol_bal 0.0         3402
5235.0        74
5466.0        72
4479.0        68
8696.0        67
            ...
63825.0        1
50651.0        1
143395.0       1
71192.0        1
75645.0        1
Name: revol_bal, Length: 73740, dtype: int64
revol_util 0.00      3540
58.00     1780
53.00     1766
59.00     1765
61.00     1757
          ...
30.19        1
43.38        1
52.58        1
9.71         1
184.60       1
Name: revol_util, Length: 1356, dtype: int64
total_acc 22.0     32259
20.0     32118
21.0     32009
19.0     31574
23.0     31315
         ...
121.0        1
119.0        1
156.0        1
150.0        1
108.0        1
Name: total_acc, Length: 135, dtype: int64
initial_list_status f    456848
w    430531
Name: initial_list_status, dtype: int64
out_prncp 0.00        255798
10000.00      1178
15000.00       981
12000.00       949
20000.00       936
             ...
8946.13          1
12650.70         1
22147.59         1
28149.08         1
11155.50         1
Name: out_prncp, Length: 248332, dtype: int64
out_prncp_inv 0.00        255798
10000.00      1157
15000.00       947
12000.00       914
20000.00       877
             ...
22341.06         1
4235.24          1
19648.48         1
5095.28          1
11155.50         1
Name: out_prncp_inv, Length: 266244, dtype: int64
total_pymnt 0.000000        17759
648.570000        135
938.060000        134
623.860000        131
1566.460000       117
                ...
4486.950000         1
12144.005778        1
8286.310000         1
20409.019996        1
4863.330000         1
Name: total_pymnt, Length: 506726, dtype: int64
total_pymnt_inv 0.00        18037
648.57        131
938.06        129
623.86        119
1566.46       114
            ...
12972.58        1
22924.97        1
30781.02        1
8147.30         1
4863.33         1
Name: total_pymnt_inv, Length: 506616, dtype: int64
total_rec_prncp 0.00        18145
10000.00    14688
12000.00    11589
15000.00     9674
20000.00     8728
            ...
8015.46         1
6492.26         1
5576.71         1
3489.37         1
1844.50         1
Name: total_rec_prncp, Length: 260227, dtype: int64
total_rec_int 0.00        18214
82.76         138
174.90        125
71.33         124
283.29        119
            ...
2369.13         1
11483.86        1
7090.55         1
4039.71         1
2234.98         1
Name: total_rec_int, Length: 324635, dtype: int64
total_rec_late_fee 0.000000     874862
15.000000      2819
30.000000       333
45.000000        56
60.000000        18
              ...
41.040000         1
23.316003         1
14.995839         1
26.830000         1
32.070000         1
Name: total_rec_late_fee, Length: 6181, dtype: int64
recoveries 0.00       862702
200.00         10
14.28           9
10.00           9
11.70           9
            ...
1944.01         1
3987.75         1
845.81          1
506.82          1
5834.18         1
Name: recoveries, Length: 23055, dtype: int64
collection_recovery_fee 0.0000       863872
2.0000           18
1.8000           13
1.2000           12
1.5500           12
              ...
25.2767           1
69.9696           1
84.3084           1
15.9404           1
1050.1524         1
Name: collection_recovery_fee, Length: 20708, dtype: int64
last_pymnt_d Jan-2016    470150
Dec-2015    150861
Oct-2015     16000
Jul-2015     14483
Nov-2015     13981
             ...
Jun-2008        20
Mar-2008        18
Jan-2008        11
Feb-2008         8
Dec-2007         2
Name: last_pymnt_d, Length: 98, dtype: int64
last_pymnt_amnt 0.00        17673
327.34       2098
318.79       1791
312.86       1450
392.81       1402
            ...
7207.12         1
13462.40        1
3486.10         1
1267.79         1
3655.51         1
Name: last_pymnt_amnt, Length: 232451, dtype: int64
next_pymnt_d Feb-2016    553406
Jan-2016     78195
Mar-2011       107
Apr-2011       101
Feb-2011        91
             ...
Feb-2008         2
Aug-2014         2
Mar-2015         1
May-2008         1
Dec-2007         1
Name: next_pymnt_d, Length: 100, dtype: int64
last_credit_pull_d Jan-2016    730574
Dec-2015     19308
Nov-2015     11490
Oct-2015     10419
Sep-2015     10087
             ...
Nov-2007         3
May-2008         1
Jun-2008         1
Jul-2008         1
Jul-2007         1
Name: last_credit_pull_d, Length: 103, dtype: int64
collections_12_mths_ex_med 0.0     875553
1.0      10824
2.0        732
3.0         88
4.0         23
5.0          7
6.0          2
16.0         1
20.0         1
7.0          1
10.0         1
14.0         1
Name: collections_12_mths_ex_med, dtype: int64
mths_since_last_major_derog 45.0     3471
42.0     3444
46.0     3420
48.0     3405
43.0     3374
         ...
165.0       1
162.0       1
156.0       1
169.0       1
176.0       1
Name: mths_since_last_major_derog, Length: 168, dtype: int64
policy_code 1.0    887379
Name: policy_code, dtype: int64
application_type INDIVIDUAL    886868
JOINT            511
Name: application_type, dtype: int64
annual_inc_joint 115000.0    12
110000.0    10
95000.0      8
100000.0     8
98000.0      8
            ..
154650.0     1
126000.0     1
195000.0     1
189729.0     1
88596.0      1
Name: annual_inc_joint, Length: 308, dtype: int64
dti_joint 15.91    3
15.40    3
8.06     3
14.92    3
22.65    3
        ..
23.47    1
7.74     1
24.02    1
22.63    1
20.42    1
Name: dti_joint, Length: 449, dtype: int64
verification_status_joint Not Verified       283
Verified           167
Source Verified     61
Name: verification_status_joint, dtype: int64
acc_now_delinq 0.0     883236
1.0       3866
2.0        208
3.0         28
4.0          7
5.0          3
6.0          1
14.0         1
Name: acc_now_delinq, dtype: int64
tot_coll_amt 0.0       700946
50.0        1755
100.0       1357
75.0        1044
200.0        714
           ...
4891.0         1
7184.0         1
4242.0         1
9477.0         1
8567.0         1
Name: tot_coll_amt, Length: 10325, dtype: int64

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           887379 non-null  int64
 1   member_id                    887379 non-null  int64
 2   loan_amnt                    887379 non-null  float64
 3   funded_amnt                  887379 non-null  float64
 4   funded_amnt_inv              887379 non-null  float64
 5   term                         887379 non-null  object
 6   int_rate                     887379 non-null  float64
 7   installment                  887379 non-null  float64
 8   grade                        887379 non-null  object
 9   sub_grade                    887379 non-null  object
 10  emp_title                    835917 non-null  object
 11  emp_length                   842554 non-null  object
 12  home_ownership               887379 non-null  object
 13  annual_inc                   887375 non-null  float64
 14  verification_status          887379 non-null  object
 15  issue_d                      887379 non-null  object
 16  loan_status                  887379 non-null  object
 17  pymnt_plan                   887379 non-null  object
 18  url                          887379 non-null  object
 19  desc                         126028 non-null  object
 20  purpose                      887379 non-null  object
 21  title                        887227 non-null  object
 22  zip_code                     887379 non-null  object
 23  addr_state                   887379 non-null  object
 24  dti                          887379 non-null  float64
 25  delinq_2yrs                  887350 non-null  float64
 26  earliest_cr_line             887350 non-null  object
 27  inq_last_6mths               887350 non-null  float64
 28  mths_since_last_delinq       433067 non-null  float64
 29  mths_since_last_record       137053 non-null  float64
 30  open_acc                     887350 non-null  float64
 31  pub_rec                      887350 non-null  float64
 32  revol_bal                    887379 non-null  float64
 33  revol_util                   886877 non-null  float64
 34  total_acc                    887350 non-null  float64
 35  initial_list_status          887379 non-null  object
 36  out_prncp                    887379 non-null  float64
 37  out_prncp_inv                887379 non-null  float64
 38  total_pymnt                  887379 non-null  float64
 39  total_pymnt_inv              887379 non-null  float64
 40  total_rec_prncp              887379 non-null  float64
 41  total_rec_int                887379 non-null  float64
 42  total_rec_late_fee           887379 non-null  float64
 43  recoveries                   887379 non-null  float64
 44  collection_recovery_fee      887379 non-null  float64
 45  last_pymnt_d                 869720 non-null  object
 46  last_pymnt_amnt              887379 non-null  float64
 47  next_pymnt_d                 634408 non-null  object
 48  last_credit_pull_d           887326 non-null  object
 49  collections_12_mths_ex_med   887234 non-null  float64
 50  mths_since_last_major_derog  221703 non-null  float64
 51  policy_code                  887379 non-null  float64
 52  application_type             887379 non-null  object
 53  annual_inc_joint             511 non-null     float64
 54  dti_joint                    509 non-null     float64
 55  verification_status_joint    511 non-null     object
 56  acc_now_delinq               887350 non-null  float64
 57  tot_coll_amt                 817103 non-null  float64
 58  tot_cur_bal                  817103 non-null  float64
 59  open_acc_6m                  21372 non-null   float64
 60  open_il_6m                   21372 non-null   float64
 61  open_il_12m                  21372 non-null   float64
 62  open_il_24m                  21372 non-null   float64
 63  mths_since_rcnt_il           20810 non-null   float64
 64  total_bal_il                 21372 non-null   float64
 65  il_util                      18617 non-null   float64
 66  open_rv_12m                  21372 non-null   float64
 67  open_rv_24m                  21372 non-null   float64
 68  max_bal_bc                   21372 non-null   float64
 69  all_util                     21372 non-null   float64
 70  total_rev_hi_lim             817103 non-null  float64
 71  inq_fi                       21372 non-null   float64
 72  total_cu_tl                  21372 non-null   float64
 73  inq_last_12m                 21372 non-null   float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

In [30]:
df.annual_inc_joint.value_counts()

115000.0    12
110000.0    10
95000.0      8
100000.0     8
98000.0      8
            ..
154650.0     1
126000.0     1
195000.0     1
189729.0     1
88596.0      1
Name: annual_inc_joint, Length: 308, dtype: int64

In [31]:
df.annual_inc_joint.isna().sum()

886868

In [32]:
df.verification_status_joint.value_counts()

Not Verified       283
Verified           167
Source Verified     61
Name: verification_status_joint, dtype: int64

In [33]:
df.verification_status.value_counts()

Source Verified    329558
Verified           291071
Not Verified       266750
Name: verification_status, dtype: int64

In [34]:
329558+291071+266750

887379

In [35]:
df.application_type.value_counts()

INDIVIDUAL    886868
JOINT            511
Name: application_type, dtype: int64

In [36]:
df.max_bal_bc.value_counts()

0.0        408
2968.0      11
4900.0      10
2098.0      10
2924.0       9
          ...
1374.0       1
6583.0       1
5312.0       1
1008.0       1
10205.0      1
Name: max_bal_bc, Length: 10707, dtype: int64

In [37]:
df.mths_since_last_major_derog.value_counts()

45.0     3471
42.0     3444
46.0     3420
48.0     3405
43.0     3374
         ...
165.0       1
162.0       1
156.0       1
169.0       1
176.0       1
Name: mths_since_last_major_derog, Length: 168, dtype: int64